<div class="body_content">
	<% if !flash[:error].blank? %>
	<div class="error"><%= flash[:error] %></div>
	<% end %>
  <table class="account_table">
    <tbody>
      <tr> 
        <td>
          <h3>Account settings for 
		<% if session[:fb_connected] %>
			<fb:name uid="loggedinuser" useyou="false" capitalize="true" />
		<% else %>
			<%= @user.name %>
		<% end %>
		</h3>
          <p>You can edit information about yourself here.</p>

          <form method="post" action="/home/save_account">
            <input type="hidden" value="anildigital" name="username"/>
            <table class="editor">
              <tbody>
                <tr>
                  <td><label for="name" id="label_name">Name</label>
                  </td>
                  <td>
					<% if session[:fb_connected] %>
						<fb:name uid="loggedinuser" useyou="false" capitalize="true" />
					<% else %>
					<input type="text" name="name" value="<%= @user.name %>" size="20" class="inputtext" id="name"/>
					<% end %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="EMAIL" id="label_email">Email</label>
                  </td>
                  <td>
					<% if !session[:fb_connected]%>
                    	<input type="text" name="email" value="<%= @user.email %>" size="20" class="inputtext" id="email"/>
					<% else%>
						<span style="font-weight:bold;">Contact via Facebook</span>
					<% end %>
                  </td
                </tr>

                <tr>
                  <td>
                    <label for="email_settings" id="label_email_settings">Email Settings</label>
                  </td>
                  <td>
                    <a onclick="facebook_prompt_permission('email'); return false;" href="#">Receive Email Updates</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="password" id="label_password">Password</label>
                  </td>
                  <td>
                    <input type="password" name="password" value="session[:user].password" size="20" class="inputtext" id="password"/>
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                  </td>
                </tr>
              </tbody>
            </table>
            <input type="submit" value="Save Changes" name="submit" class="inputsubmit"/>

          </form>
        </td>
		<% if !session[:fb_connected] %>
        <td>
          <h3>Connect with Facebook</h3>
          <p>
            Do you have a Facebook account? Connect it with The Run Around to share your information here, and see which of your friends are here.
          </p>
        	<fb:login-button onlogin="refresh_page()" ></fb:login-button>
          </a>
        </td>
		<% else %>
		<td><h3>Connected To Facebook</h3><p>Your account is linked with a Facebook account.</p><a href="#" onclick="alert('coming soon');return false;">Disconnect from Facebook</a></td>
		<% end %>
      </tr>
    </tbody>
  </table>
</div>